/* common css */
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
}

* {
    -webkit-appearance: none;
    -webkit-tap-highlight-color:rgba(255, 255, 255, 0); /*ios android去除自带阴影的样式*/
}

button, button:focus {
    outline: none;
}

.btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f6f6f6;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}

.btn-submit {
    color: #fff;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
}

.input-text {
    padding: 0 5px;
    width: 80%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 1rem;
    color: #333;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-textarea {
    resize: none;
    width: 100%;
    padding: 0 5px;
    line-height: 1.5;
    color: #333;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes opacitySlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes opacitySlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes opacitySlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacitySlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* common css */

/* section-header css */
.section-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: #ddd;
    background-color: #31bb6b;
    -webkit-box-shadow: 0 1px 5px #aaa;
    box-shadow: 0 1px 5px #aaa;
    color: #fff;
    z-index: 1;
}

.section-header .icon-app {
    position: absolute;
    right: 12px;
    top: 0;
    height: 50px;
    font-size: 1.5rem;
    line-height: 50px;
}

.header-title {
    height: 50px;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    line-height: 50px;
    text-align: left;
}

/* section-header css */

/* section-body css */
.section-body {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation: opacitySlow .8s ease;
    -o-animation: opacitySlow .8s ease;
    animation: opacitySlow .8s ease;
}

.section-body .state-finished {
    color: #08ab78;
    
}

.section-body .state-unfinished {
    color: #f00;
}

.model {
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    z-index: 1;
}

.model.show {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.model-body {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #efefef;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.model-title {
    margin: 10px 0;
    font-size: 1.3rem;
    text-align: center;
}

.model-body .model-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    color: #aaa;
    -webkit-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
}

.model.show .model-close {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.model-add-item .form-group {
    padding: 0 10px 10px;
}

.model-add-item .form-group label {
    float: left;
    display: inline-block;
    width: 20%;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.model-add-item .form-group .input-textarea {
    width: 80%;
    height: 80px;
}

.model-add-item .form-group .btn {
    margin-left: 20%;
}

.model-delete-item .form-group {
    padding-bottom: 20px;
    margin: 0 10%;
    text-align: center;
}

.model-delete-item .form-group .btn {
    margin: 0 10px;
}

.model-confirm-tip {
    padding: 5px 0 25px;
    margin: 0 10%;
    text-align: center;
}

.task-list-wrap .tip {
    padding: 0 20px;
    line-height: 1.5;
    font-size: 1.3rem;
    color: #ABABAB;
}

.task-list-wrap .tip .fa {
    color: #1C9B73;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.task-item {
    position: relative;
    padding: 5px 0 3px;
    border-bottom: 1px solid #d8d8d8;
}

.task-item p {
    margin: 5px 15px;
}

.task-item-title {
    display: inline-block;
    width: 230px;
    color: #111;
    font-weight: bold;
}

.task-item-link {
    color: #333;
    text-decoration: none;
}

.task-item-delete {
    position: relative;
    float: right;
    color: #ddd;
}

.task-item-date {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: .8rem;
    font-weight: normal;
    color: #999;
}

.task-item-status {
    padding-left: 0.5em;
    font-size: 0.8rem;
}

.task-enter {
    opacity: 0.01;
    -webkit-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.task-enter.task-enter-active {
    opacity: 1;
}

.task-leave {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}

.task-leave.task-leave-active {
    opacity: 0;
}

.single-task {
    padding: 0 20px;
}

.single-task-header {
    margin-bottom: 15px;
}

.single-task-title {
    margin: 0;
    padding: 20px 0 9px;
    border-bottom: 2px solid #ddd;
    font-size: 1.3rem;
}

.single-task-meta {
    position: relative;
    margin-bottom: 15px;
}

.single-task-meta .label {
    color: #666;
    font-weight: bold;
}

.single-task-meta .fa {
    padding-left: 2px;
}

.single-task-thought-input .input-textarea {
    height: 100px;
    margin-top: 10px;
}

.single-task-thought-input .btn {
    margin-top: 10px;
}

.icon-add-wrap {
    position: fixed;
    bottom: 100px;
    right: 12px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(49, 187, 107, .9);
    line-height: 38px;
    text-align: center;
}

.icon-add-wrap .icon-add {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 400;
}

/* section-body css */

/* seaction-footer css */
.section-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 5px #aaa;
    box-shadow: 0 1px 5px #aaa;
    background-color: #fff;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-menu li {
    float: left;
    width: 33.3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-menu li:last-child:after {
    content: '';
    display: table;
    clear: both;
}

.footer-menu li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    color: #aaa;
    text-decoration: none;
}

.footer-menu li a.active {
    color: #27ae60;
}

/* seaction-footer css */
